

li {
    margin: 0px;
    padding: 0px;
}

.center {
    /*设置当前控件与父控件的上下左右边距。这里的边距可以在浏览器F12中style页面查看到更形象的 */
    vertical-align: middle;
    margin: auto auto;
}

/*测试使用，方便清楚的知道当前的控件边际*/
.testBorder {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(0, 0, 0);
}

/*测试使用，方便清楚的知道当前的控件边际*/
.border {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(0, 0, 0);
}

/*当前可操作页面的总宽度*/
.totalWidth {
    width: 1000px;
}

/*设置logo控件的宽度*/
.logoWidth {
    width: 820px;
}

/*设置Search Container控件的宽度*/
.searchContainerDiv {
    width: 178px;
    height: 28px;
    /*外边框,因为search控件里面包含了文本输入框和最后的search img*/
    border: 1px solid #c2c2c2;
}

/*
    titleBar Div控件以Row的形式体现，这样方便控制下面的Logo和右侧的search排序
    此处从O365 Copy的其实还有其他的方法。
*/
.tablerow {
    height: 90px;
    display: table-row;
}

/*表示是一个table中的单元格*/
.tablecell {
    display: table-cell;
}

/*设置元素的垂直对齐方式.Top表示把元素放在父元素的顶端*/
.verticalAlignTop {
    vertical-align: top;
}

/*  
    设置元素的垂直对齐方式.
    Top表示把元素放在父元素的顶端
    middle表示居中对齐
*/
.verticalAlignMiddle {
    vertical-align: middle;
}

/*浮动靠右.注意下：浮动。如果父级元素不指定高度,那么在页面中看的时候可能子元素就在父元素之外了*/
.floatRight {
    float: right;
}

.searchInputTextBoxContainer {
    display: inline;
}

.searchInputTextBox {
    width: 147px;
    height: 28px;
    /*去掉文本输入框的边框*/
    border-style: none;
    outline-style: none;
    padding: 0px;
    margin-left: 1px;
    /*border-width: 0px;*/
    /*设置字的颜色*/
    /*color: rgb(119, 119, 119);*/
}

/*Search图标的父Link属性.*/
.searchLink {
    width: 24px;
    height: 24px;
    /*这里一定是inline block不能是inline 否则overflow不生效*/
    display: inline-block;
    /*鼠标移动上后,指针的形状*/
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border: 0px solid transparent;
    /*因为Search图标很大是通过相对位置截取的,这里是隐藏掉多余的*/
    overflow: hidden;
    margin: 2px 0px 2px 0px;
}

/*Search图标的相对位置.*/
.searchImg {
    left: 0px;
    top: -54px;
    position: absolute;
}

.navigationUl {
    height: 38px;
    padding: 0px;
}

/*设置li的背景色，以及让li水平显示而不是垂直显示*/
.liInLine {
    display: inline-block;
    width: 200px;
    height: 38px;
    /*margin-right: 3px;*/
}

/*li控件下的连接样式.注意背景要是透明的，方便以后的鼠标悬浮、点击选择的颜色变化*/
.navigationLink {
    display: block;
    /*不要link的下划线*/
    text-decoration: none;
    text-align: center;
    line-height: 38px;
    height: 38px;
    width: 200px;
    background-color: #f1f1f1;
    font-family: Meiryo UI;
    font-size: 15px;
    color: #333333;
}

/*连接点击激活后，颜色变化*/
.navigationLinkSelected {
    background-color: #e55a8a;
    font-family: Meiryo UI;
    font-size: 15px;
    color: #333333;
}

/*连接鼠标悬停后的颜色变化*/
a.navigationLink:hover {
    line-height: 36px;
    width: 198px;
    background-color: #fff0f0;
    border: 1px solid #e55a8a;
    font-family: Meiryo UI;
    font-size: 15px;
    color: #333333;
}

/*Navigation下页面的最高级别控件.设置高度,主要是下面的Crumb是浮动的*/
.crumbContainerSize {
    height: 46px;
}

/*根据设计图片指定上下间距*/
.crumbDiv {
    /*margin-top: 20px;*/
    margin-bottom: 20px;
    display: inline;
}

/*
    当前控件显示是inline的，和后面的控件在同一行显示.
    注意：这里针对的是当前的控件，如果后面的控件还想同行显示那么也要引用此样式
*/
.crumLinkDiv {
    display: inline;
}

/*根据设计图片显示字体的样式、大小、颜色*/
.crumbCurrentPageFont {
    font-family: Meiryo UI;
    font-size: 13px;
    font-style: normal;
    color: #222222;
}

.crumLink {
    text-decoration: none;
}

.crumbLinkPageFont {
    font-family: Meiryo UI;
    font-size: 13px;
    font-style: normal;
    color: #3d99d3;
}

.crumbNarrowDiv {
    width: 6px;
    height: 9px;
    /*这里一定是inline block不能是inline 否则overflow不生效*/
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 1px solid transparent;
    /*因为Search图标很大是通过相对位置截取的,这里是隐藏掉多余的*/
    overflow: hidden;
}

.crumbNarrowImg {
    /*下面的left and top 2个数据会在设计图纸中给出*/
    left: -18px;
    /*TODO:这里有个小问题：仔细看的话好像箭头与连接的字没有处于同一条水平线上.所以我从0改成了1*/
    top: 1px;
    position: absolute;
}

.contentContainerSize {
    margin-top: 40px;
    display: block;
}

.leftZone {
    width: 200px;
    min-height: 65px;
    /*display: inline-block;
    vertical-align: top;*/
    /*不能使用上述的，因为使用inline-block会在div之间产生一段空隙*/
    float: left;
}

.treeContainerSize {
    min-height: 65px;
    width: 200px;
}

.treeUl {
    /*上右下左的顺序*/
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 40px;
}

/*设置li的背景色，以及让li垂直显示*/
.liBlock {
    display: block;
    width: 200px;
    margin-bottom: 5px;
}

.treeLink {
    background-color: #f4f4f4;
    display: block;
    font-family: Meriyo UI;
    font-size: 15px;
    color: #333333;
    padding: 10px 20px 10px 20px;
    border-left: 3px solid #e55a8a;
    text-decoration: none;
}

a.treeLink:hover {
    background-color: #fff0f0;
}

.treeLinkSelected {
    background-color: #fff0f0;
    /*注意一定要有第二个solid否则线无法显示出来*/
    border: 1px solid #e55a8a;
    border-left: 3px solid #e55a8a;
}

.treeImageDivContainer {
    width: 34px;
    height: 34px;
    /*这里一定是inline block不能是inline 否则overflow不生效*/
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 0px solid transparent;
    /*因为Search图标很大是通过相对位置截取的,这里是隐藏掉多余的*/
    overflow: hidden;
}

.treeImageA {
    left: 0px;
    top: -126px;
    position: absolute;
}

.treeImageB {
    left: -34px;
    top: -126px;
    position: absolute;
}

.treeImageC {
    left: -68px;
    top: -126px;
    position: absolute;
}

.treeImageD {
    left: -102px;
    top: -126px;
    position: absolute;
}

.treeText {
    width: 104px;
    text-align: left;
    word-wrap: break-word;
    margin-left: 20px;
}

.tablecell {
    display: table-cell;
    vertical-align: middle;
}

.linkSize {
    min-height: 65px;
    width: 200px;
}

.linkTitle {
    font-family: Meiryo UI;
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

.linkContainerNews {
    margin-bottom: 40px;
}

.linkUl {
    /*上右下左的顺序*/
    padding: 0px;
}

/*设置li的背景色，以及让li垂直显示*/
.linkLiBlock {
    display: block;
    width: 200px;
    margin-bottom: 5px;
}

.linkTreeLink {
    background-color: #ffffff;
    display: block;
    font-family: Meriyo UI;
    font-size: 15px;
    color: #333333;
    padding: 15px 15px 15px 15px;
    border: 1px solid #eeeeee;
}

a.linkTreeLink:hover {
    background-color: #e1f7ff;
    border: 1px solid #eeeeee;
    color: #3d99d3;
}

.linkTreeLinkSelected {
    background-color: #6cc8ff;
    color: #ffffff;
}

.linkContainerBusiness {
    margin-bottom: 40px;
}

/*设置li的背景色，以及让li垂直显示*/
.linkLiBlockBusiness {
    display: inline-block;
    width: 97px;
    height: 95px;
}

.linkTreeLinkBusiness {
    display: block;
    background-color: #ffffff;
    font-family: Meriyo UI;
    font-size: 15px;
    color: #333333;
    padding: 0px 10px 0px 10px;
    border: 2px solid #eeeeee;
    height: 95px;
    text-align: center;
    line-height: 95px;
}

a.linkTreeLinkBusiness:hover {
    background-color: #e1f7ff;
    border: 2px solid #77ccff;
    color: #3d99d3;
}

.linkTreeLinkBusinessSelected {
    background-color: #6cc8ff;
    color: #ffffff;
}

.secondMenuDiv {
    position: absolute;
    width: 200px;
    /*height: 38px;*/
    display: none;
    background: #fff;
}

li.liInLine:Hover div.secondMenuDiv {
    display: inline-block;
}

.ulSecondMenu {
    /*height: 38px;*/
    padding: 0px;
}

.liSecondMenu {
    display: block;
    /*二级菜单的li位置要是相对的,否则三级菜单显示的位置不对*/
    position: relative;
    /*height: 38px;*/
}



/*li控件下的连接样式.注意背景要是透明的，方便以后的鼠标悬浮、点击选择的颜色变化*/
.navigationMenuLink {
    display: block;
    /*不要link的下划线*/
    text-decoration: none;
    text-align: center;
    line-height: 38px;
    height: 38px;
    width: 200px;
    background-color: #f1f1f1;
    font-family: Meiryo UI;
    font-size: 15px;
    color: #333333;
}

/*连接点击激活后，颜色变化*/
.navigationMenuLinkSelected {
    background-color: #e55a8a;
    font-family: Meiryo UI;
    font-size: 15px;
    color: #333333;
}

/*
    TODO:
    1.鼠标悬停后会有一个小小的位移。原因不明.
    2.无法覆盖住下面左侧Tree的图片
*/
a.navigationMenuLink:hover {
    line-height: 38px;
    height: 38px;
    width: 198px;
    background-color: #fff0f0;
    border: 1px solid #e55a8a;
    font-family: Meiryo UI;
    font-size: 15px;
    color: #333333;
}

.thridMenuDiv {
    position: absolute;
    width: 200px;
    display: none;
    background: #fff;
}

/*
    css中一种特殊的写法类似于XPath.
    标签名.Class名字（空格）下一层标签名字
*/
li.liSecondMenu:Hover div.thridMenuDiv {
    display: inline-block;
    left: 100%;
    top: 0;
}

.ulThridMenu {
    padding: 0px;
}

.liThridMenu {
    display: block;
}

.middleZone {
    width: 550px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

.annBarStyle {
    margin-bottom: 20px;
}

.announcementDiv {
    background-color: #ffffff;
    width: 518px;
    border: 1px solid #eeeeee;
    padding: 15px 15px 25px 15px;
}

.annoucementTitleDiv {
    font-family: Meiryo UI;
    font-size: 18px;
    color: #222222;
    display: inline-block;
}

.viewAllDivStyle {
    display: inline;
}

.viewAllLink {
    text-decoration: none;
}

.viewAllLinkPageFont {
    font-family: Meiryo UI;
    font-size: 13px;
    color: #333333;
}

.viewAllNarrowDiv {
    width: 6px;
    height: 9px;
    /*这里一定是inline block不能是inline 否则overflow不生效*/
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 0px solid transparent;
    /*因为Search图标很大是通过相对位置截取的,这里是隐藏掉多余的*/
    overflow: hidden;
}

.viewAllNarrowImg {
    /*下面的left and top 2个数据会在设计图纸中给出*/
    left: -18px;
    top: 0px;
    position: absolute;
}

.announceTable {
    display: table;
}

.tableStyle {
    border-collapse: collapse;
}

.thStyle {
    font-family: Meiryo UI;
    font-size: 14px;
    color: #333333;
    font-style: normal;
    font-weight: normal;
    padding: 0px;
    border-bottom: 2px solid #e55a8a;
}

.thDiv {
    margin-bottom: 10px;
}

.thDivMarginRight {
    margin-right: 10px;
}

.tdDivMarginLeft {
    margin-left: 10px;
}

.tdDiv {
    display: block;
    text-align: left;
}

.tdDivMarginTopBottom {
    margin-bottom: 10px;
    margin-top: 10px;
}

.trStyle {
    min-height: 40px;
}

.trOddColor {
    background-color: #ffffff;
}

.trEvenColor {
    background-color: #f9f9f9;
}

.tdLinkFont {
    font-size: 13px;
    font-family: Meiryo UI;
    color: #3d99d3;
    word-wrap: break-word;
    text-decoration: none;
}

.tdDivFont {
    font-family: Meiryo UI;
    font-size: 13px;
    color: #333333;
}

a.tdLinkFont:hover {
    text-decoration: underline;
}

.newsReleaseDiv {
    margin-top: 30px;
    width: 518px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-top: 2px solid #e55a8a;
    padding: 15px 15px 5px 15px;
}

.newsReleaseBarStyle {
    margin-bottom: 10px;
}

.newsReleaseUl {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    list-style: disc inside none;
    /*通过下面的颜色和size来控制前面的点的颜色和大小.*/
    color: #e55a8a;
    font-size: 4px;
}

.newsLink {
    font-family: Meiryo UI;
    font-size: 13px;
    color: #333333;
    text-decoration: none;
}

a.newsLink:hover {
    font-family: Meiryo UI;
    font-size: 13px;
    color: #3d99d3;
    text-decoration: underline;
}

.newsLinkDiv {
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.newsLinkDateFont {
    margin-left: 5px;
    font-family: Meiryo UI;
    font-size: 13px;
    color: #777777;
}

.infoDivContainer {
    margin-top: 15px;
    display: inline-block;
    width: inherit;
}

.infoDivLink {
    float: right;
    font-family: Meiryo UI;
    font-size: 13px;
    color: #3d99d3;
    font-weight: bold;
    text-decoration: none;
}

.rightZone {
    width: 220px;
    float: left;
}

.backgroupDiv {
    width: 220px;
    height: 85px;
    line-height: 85px;
    background-image: url(/image/1.png);
    font-family: Meiryo UI;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}

.webDivContainer {
    margin-top: 40px;
}

.webTitle {
    font-family: Meiryo UI;
    font-size: 18px;
    color: #333333;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.webImageContainer {
    height: 24px;
    text-align: left;
    vertical-align: middle;
}

.webImageLink {
    width: 18px;
    height: 18px;
    float: left;
    position: relative;
    background-color: transparent;
    border: 0px solid transparent;
    /*因为Search图标很大是通过相对位置截取的,这里是隐藏掉多余的*/
    overflow: hidden;
    display: inline-block;
}

.webImagePosition {
    top: 0px;
    left: 0px;
    position: absolute;
}

.webTitleContainer {
    height: 24px;
}

.webLinkContainer {
    margin-top: 10px;
    margin-right: 10px;
}

.webLinkStyle {
    margin-bottom: 10px;
    height: 85px;
}

.tableCell {
    display: table-cell;
}

.webLinkFontContainer {
    height: 85px;
    width: 125px;
    text-align: left;
    vertical-align: middle;
}

.webLinkFont1 {
    font-family: Meiryo UI;
    font-size: 15px;
    color: #333333;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.webLinkFont2 {
    font-family: Meiryo UI;
    font-size: 13px;
    color: #666666;
    word-wrap: break-word;
}

.webLinkDivMargin {
    margin-left: 10px;
}

.blogDivContainer {
    margin-top: 40px;
}

.blogTitle {
    font-family: Meiryo UI;
    font-size: 18px;
    color: #333333;
}

.blogContainer {
    margin-top: 15px;
}

.blogUl {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    /*通过下面的颜色和size来控制前面的点的颜色和大小.*/
}

.blogLinkDiv {
    height: 40px;
}

.blogLink {
    font-family: Meiryo UI;
    font-size: 13px;
    color: #333333;
    text-decoration: none;
    line-height: 40px;
    margin-left: 10px;
}

a.blogLink:hover {
    font-family: Meiryo UI;
    font-size: 13px;
    color: #3d99d3;
    text-decoration: underline;
}

.circle {
    width: 22px;
    height: 22px;
    background: #ffffff;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    border: 2px solid #e55a8a;
    /*display: inline-block;*/
    font-family: Meiryo UI;
    font-size: 12px;
    color: #e55a8a;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
}
